.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}

.wrapper {
  width: 100%;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 4px 0;
  width: max-content;
}

.alike {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.active {
  background-color: #f8f8f8;
}

.active .alike {
  color: #fe2c55;
}
 